nav{
    display: flex;
    float: left;
    flex-direction: column;
    width: max-content;
    background-color: #fff6f6;
    list-style-type: none;
    margin-right: 2%;
    padding: 2%;
}


  img {
    display: block;
    text-align: end;
    width:3em;
    height: 3em;
  }

.menu-item{
  background-color: #fde8e8;
  border: none; /* Remove borders */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.menu-item:focus{
  background-color: #E53E33;
}

.Section {
  display: flex;
  flex-direction: column;
}

button{
  border-radius: 35%;
  margin-bottom: 25%;
}

li{
  flex-direction: column;
  align-content:flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin: 10px;
  width:fit-content;
  height:3.5em;
}
