@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

.SidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content:flex-start;
  padding-left: 0;
  min-width: 5%;
  min-height: 5%;
  width: 25%;
}

.SharedTitle {
  margin-top: 10%;
  margin-bottom: 10%;
  color: #000000;
  font-weight: 900;
}

.UserButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content:flex-start;
  width: 61%;
}

.UserButton {
  flex-basis:calc(100%/3 - 3%);
}
